.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.home-jumbo {
  color: #5056d3;
  padding-top: 20px !important;
  padding-bottom: 10px !important;
  width: 100%;
}

.about-why-jumbo h2 {
  color: #5056d3;
}

.about-why-jumbo {
  padding-top: 20px !important;
  padding-bottom: 10px !important;
  width: 80%;
}

.preset-success::-webkit-input-placeholder {
  color: #22bb33;
}
.preset-warning::-webkit-input-placeholder {
  color: #bb2124;
}

@media screen and (min-width: 0px) and (max-width: 1211px) {
  /*Style*/
  .about-why-jumbo {
    padding-top: 20px !important;
    padding-bottom: 10px !important;
    width: 100%;
  }
}
