.home-jumbo {
  color: #5056d3;
  padding-top: 20px !important;
  padding-bottom: 10px !important;
  width: 100%;
}

.about-why-jumbo h2 {
  color: #5056d3;
}

.about-why-jumbo {
  padding-top: 20px !important;
  padding-bottom: 10px !important;
  width: 80%;
}

.preset-success::-webkit-input-placeholder {
  color: #22bb33;
}
.preset-warning::-webkit-input-placeholder {
  color: #bb2124;
}

@media screen and (min-width: 0px) and (max-width: 1211px) {
  /*Style*/
  .about-why-jumbo {
    padding-top: 20px !important;
    padding-bottom: 10px !important;
    width: 100%;
  }
}

.modal-confirm .modal-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
.modal-confirm .modal-header {
  background: #5056d3;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}
.modal-confirm .form-control,
.modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}

.modal-confirm.modal-dialog {
  margin-top: 80px;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  padding: 6px 20px;
  min-width: 150px;
  border: none;
}
.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
  outline: none;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

.my-custom-scrollbar {
  position: relative;
  /* height: 475px; */
  height: 65vh;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.my-custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Table Styles */

.table tbody td:nth-child(2) {
  background-color: white;
  text-align: center;
}

.selected td:nth-child(1) {
  background-color: #e0bbe4 !important;
}

.latest-firmware {
  background-color: #50c878bf !important;
}

.tree {
  overflow: auto;
}
