{% extends 'layout.html'%}

{% block title %}
    About
{% endblock title %}

{% block content %}
<div class="mt-3 text-center pt-3"> 
    <main role="main" class="container">
        <div class="jumbotron about-why-jumbo mx-auto">
          <h2>Built with Flask, Python, and some boredom</h2>
          <hr class="my-4">
          <h4 class=""> Thanks to <a href="https://ipswdownloads.docs.apiary.io/#" target="_blank">IPSW.ME</a> for the useful API</h4>
          <p class="lead">and to <a href="https://www.youtube.com/channel/UCCezIgC97PvUuR4_gbFUs5g" target="_blank">Corey Schafer</a> and  <a href=" https://youtu.be/0ik6X4DJKCc" target="_blank">Traversy Media</a> for the great content</p>
        </div>
      </main>
    </div>

<div class="mt-3 text-center"> 
    <main role="main" class="container">
        <div class="jumbotron about-why-jumbo mx-auto">
            <h2>Why the strange download names?</h2>
            <hr class="my-4">
            <p class="lead">It has to do with Apple's naming scheme from their servers</p>
            <p class="lead">My attempts to change the names thru JavaScript failed...</p>
            <br>
            <p class="lead">To find out what you which file correlates to which device, use the build id found in the right column of iOS devices</p>
        </div>
        </main>
    </div>

{% endblock content %}
